header {
  position: relative;
  display: flex;
  background-color: teal;
  padding: 5px 20px;
  color: white;
  z-index: 2;
  align-items: center;
}

.header-left {
  margin-right: auto;
  h2 {
    margin: auto;
  }
}

.header-right {
  display: flex;
  .greeting {
    margin-right: 20px;
  }
}

.main {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0 ;
  background-color: rgb(244, 255, 255);
}

.form-body {
  display: flex;
  span {
    color: red;
    font-size: small;
    margin-left: 10px;
  }
  button {
    background-color: teal;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3) !important ;
    transition: 0.3s;
  }
   button:focus, button:hover {
    background-color: rgb(0, 107, 107) !important;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3) !important ;
  }
}

.form-body-left {
  width: 40%;
  margin: auto;
  text-align: center;
  h1 {
    font-size: 2rem;
    margin: 0;
  }
  span {
    color: black !important;
  }
}

.form-body-right {
  width: 60%;
  margin-left: 20px;
}

.period-select {
  max-height: 1rem;
}

.sub {
  display: flex;
  justify-content: space-evenly;
}

.subs-table {
  max-width: 500px;
  width: 100% !important;
  margin: 0 auto 20px auto;
  border-radius: 10px !important;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2) !important;
  button {
    padding: 0;
    min-width: 30px !important;
  }
  span {
    font-size: 0.5rem;
  }
}

.link-btn {
  border-radius: 10px !important;
  background-color: none !important;
}

.delete-btn {
  background-color: teal !important;
}

.bar-chart {
  text-align: center;
}

th {
  background-color: rgb(240, 240, 240) !important;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: rgba(0,0,0,0.1) !important;
}

.modal-form {
  display: flex;
  justify-content: space-between;
  button {
    background-color: teal;
  }
  button:hover, button:focus {
    background-color: teal;
  }
}