$main-bg-color: teal;
$base-bg-color: #279F9F;
$accent-bg-color: #5FBFBF;


// Header.jsx------------------------------------
header {
  position: relative;
  display: flex;
  height: 55px;
  background-color: $main-bg-color;
  padding: 5px 25px 0 25px;
  color: white;
  z-index: 2;
  align-items: center;
  position: sticky;
  top: 0;
}

.header-left {
  margin-right: auto;
  h2 {
    margin: auto;
  }
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .greeting {
    margin-right: 20px;
  }
  p {
    font-size: 12px;
  }
  button, a{
    background-color: $base-bg-color !important;
    color: white !important;
    font-weight: bold;
    margin-left: 10px;
  }
}

.nav-items {
  display: flex;
  a {
    text-decoration: none;
    color: white;
  }
}

// SubForm.jsx--------------------------------
.form-body {
  display: flex;
}

.form-body-left {
  width: 40%;
  margin: auto;
  text-align: center;
  h1 {
    font-size: 2rem;
    margin: 0;
  }
  span {
    font-size: small;
    color: black !important;
  }
}

.form-body-right {
  width: 60%;
  margin-left: 20px;
}

.error-mess {
  color: red;
  font-size: small;
  margin-left: 10px;
}

// Subs.jsx------------------------------------------
.table-container {
  padding: 0;
  margin: auto;
  max-width: 640px;

}

.subs-table {
  max-height: 230px;
  margin: 0 auto 20px auto;
  border-radius: 10px !important;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2) !important;
  button {
    padding: 0;
    min-width: 35px !important;
  }
  span {
    font-size: 0.5rem;
  }
}

.subs-table::-webkit-scrollbar {
  display: none;
}

.link-btn, .edit-btn, .delete-btn {
  border-radius: 10px !important;
}

.edit-btn {
  opacity: 0.7;
}

.delete-btn {
  opacity: 0 !important;
}


th {
  background-color: $main-bg-color !important;
  color: white !important;
}

tr:hover {
  .delete-btn {
    opacity: 0.7 !important;
  }
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: rgba(0,0,0,0.3) !important;
}

.modal-form {
  display: flex;
  justify-content: space-between;
}

// Chart.jsx-------------------------------------------
.chart-header {
  display: flex;
  align-items: center;
  h3 {
    font-weight: 400;
    margin: 0;
  }
}

.chart-header-l {
  margin: 0 auto 0 30px;
}

.chart-header-r {
  display: flex !important;
  flex-direction: row;
  .MuiFormControl-root { 
    min-width: 20px !important;
  } 
}

.edit-modal {
  p {
    margin-bottom: 30px;
  }
}

// SignIn.jsx----------------------------------------------
.sign-form {
  padding: 30px 60px;
  h3 {
    margin: 0;
  }
  form {
    margin: 20px 0 !important;
  }
  a {
    display: block;
    text-align: end;
  }
  .MuiFormControl-root {
    margin-bottom: 20px;
  }
}

// Flash.jsx-----------------------------------------
.MuiSnackbar-root div {
  color:  black !important;
  font-weight: 600;
  background-color: $accent-bg-color !important;
  // background: linear-gradient(to right, #5FBFBF, #C9E1B1) !important;
  display: block;
}

.MuiSnackbarContent-message {
  text-align: center !important;
}